
body {font-family:"Verdana",Times,serif;;}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #566573 ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
    box-shadow: 0px -15px 10px -15px #566573;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #CCD1D1;
    display: block;
    transition: 0.3s;
    background: url("./ images/peppers.gif") top left no-repeat;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 245px;
    background-color: #566573;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #f1f1f1;
    color: #000;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}